<!-- Top navigation -->
<div class="topmost">
  <mat-toolbar color="primary">
    <button mat-button class="example-icon"  routerLink="/home">
      <mat-icon>share</mat-icon> GYD
    </button>
    <!--  <span><span class="redirect" routerLink="/home">GYD</span></span>-->
    <span class="example-spacer">
  </span>
    <!--  <span>Log out</span>-->
    <button mat-button color="white" (click)="authService.SignOut()">Log Out</button>
    <button mat-button class="example-icon"  routerLink="/profile">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</div>


<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm"  (ngSubmit)="authService.ForgotPassword(passwordResetEmail.value)">
      <h1>Forgot Password</h1>
      <mat-form-field>
        <input matInput type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </mat-form-field>
      <div class="actionbuttons">
        <div class="flex-parent jc-center">
          <button type="submit" mat-raised-button color="warn" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)" routerLink="/">
            Send Reset Link
          </button>
        </div>
        <div class="label">
          <label id="dialog-user-name">Or</label>
        </div>
        <div class="flex-parent jc-center">
          <button type="button" mat-stroked-button color="primary" routerLink="/sign-in">
            Remember Password? Log In
          </button>
        </div>
        <div class="flex-parent jc-center">
          <button type="button" mat-stroked-button color="primary" routerLink="/register-user">
            Don't have an account? Sign Up
          </button>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>
