
<nav class="main-menu">


  <ul>
    <li>
      <a routerLink="/home">
        <mat-icon [ngStyle]="{'color':'White'}">share</mat-icon>
        <span class="nav-text">GYD</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <li class="has-subnav">
      <a routerLink="/dashboard">
        <mat-icon [ngStyle]="{'color':'RebeccaPurple'}">home</mat-icon>
        <span class="nav-text">
                          Dashboard
                        </span>
      </a>

    </li>

    <li class="has-subnav">
      <a routerLink="/text-summarization">
        <mat-icon [ngStyle]="{'color':'RoyalBlue'}">notes</mat-icon>
        <span class="nav-text">
                          Text Summarization
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/knowledge-graph">
        <mat-icon [ngStyle]="{'color':'purple'}">graphic_eq</mat-icon>
        <span class="nav-text">
                         Knowledge Graph
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/qa">
        <mat-icon [ngStyle]="{'color':'CadetBlue'}">question_answer</mat-icon>
        <span class="nav-text">
                         Q/A
                        </span>
      </a>

    </li>
    <li>
      <a routerLink="/history">
        <!--        <i class="fa fa-film fa-2x"></i>-->
        <mat-icon  [ngStyle]="{'color':'ForestGreen'}">history</mat-icon>
        <span class="nav-text">
                        User History
                        </span>
      </a>
    </li>
    <li>
      <a routerLink="/faq">
        <!--        <i class="fa fa-film fa-2x"></i>-->
        <mat-icon  [ngStyle]="{'color':'burlywood'}">info</mat-icon>
        <span class="nav-text">
                        FAQs
                        </span>
      </a>
    </li>
    <li>
      <a routerLink="/profile">
        <!--        <i class="fa fa-book fa-2x"></i>-->

        <mat-icon [ngStyle]="{'color':'sandybrown'}" >person_pin</mat-icon>
        <span class="nav-text">
                        Profile
                        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a (click)="authService.SignOut()">
        <mat-icon [ngStyle]="{'color':'tomato'}">power_settings_new</mat-icon>
        <span class="nav-text">
                            Logout
                        </span>
      </a>
    </li>
  </ul>
</nav>

<form class="example-form">
  <ngx-typed-js [strings]="['Summarize', 'learn faster', 'learn efficiently', 'Upload text']" [typeSpeed]="90" [backSpeed]="40" [loop]="true" [smartBackspace]="true" [shuffle]="true" [backDelay]="5000">
    <h1 class="autotype"> Use GYD to <span class="typing"></span></h1>
  </ngx-typed-js>
  <div class = "text">
    <mat-form-field class="text-field" style="width: 35%">
      <mat-label>Text for summarization</mat-label>
      <textarea  matInput [(ngModel)]="textInput" name="input" rows="20" cols = "30"></textarea>
    </mat-form-field>
    <mat-form-field class="text-field-output"  style="width: 35%">
      <mat-label>Output for your text</mat-label>
      <textarea matInput [(ngModel)]="textOutput" name="output" rows="20" cols = "30">{{textOutput}}</textarea>
    </mat-form-field>
  </div>
  <div class="actionbuttons">
    <div class="ubutton">
      <button mat-raised-button color="accent" (click)="onUpload()">
        Upload
      </button>
    </div>
    <div class="obuttons">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="this.isButtonDisabled">
        {{this.sumButton}}
      </button>
      <button mat-raised-button color="primary" (click)="submitKG()" [disabled]="this.kgbuttonDisabed">
        Knowledge Graph!
      </button>
      <button mat-raised-button color="warn" routerLink="/knowledge-graph">
        Both!
      </button>
    </div>
  </div>
  <div class="container" *ngIf="loading">
    <input class="form-control" type="file" accept="text/*" (change)="onChange($event)">
  </div>
<!--  <div class="text-center">-->
<!--    <input class="form-control" type="file"-->
<!--           (change)="onChange($event)">-->

<!--    <button (click)="onUpload()"-->
<!--            class="btn btn-success">-->
<!--      Upload-->
<!--    </button>-->
<!--  </div>-->
</form>



<h2>History</h2>
<div class="aaa">
  <div *ngFor="let item of userInputsOutputs | async">
    <mat-card class="example-card">
      <mat-card-content>
        <p><strong>Input:</strong> {{ item.input }}</p>
        <p><strong>Output:</strong> {{ item.output }}</p>
        <p class = "dateCard">  {{ item.dateTime.toDate() | date:'medium' }}</p>
        <div class="card-helper"  fxLayout="row" fxLayoutGap="16px">
          <button mat-raised-button color="primary" (click)="summarizeAgain(item.input)">
            Summarize Again!
          </button>
          <button mat-raised-button color="primary" (click)="copyOutput(item.output)">
            Copy Output
          </button>
          <button mat-raised-button color="warn" (click)="deleteUserInputOutput(item.id)">
            Delete
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>

