<!-- Top navigation -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon"  routerLink="/dashboard">
    <mat-icon>share</mat-icon>
  </button>
  <span><span class="redirect" routerLink="/dashboard">GYD</span></span>
  <span class="example-spacer">
  </span>
  <!--  <span>Log out</span>-->
  <button mat-button color="white" (click)="authService.SignOut()">Log Out</button>
  <button mat-icon-button class="example-icon"  routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<form class="example-form">
  <mat-form-field class="text-field">
    <mat-label>Text for summarization</mat-label>
    <textarea matInput [(ngModel)]="textInput" name="input"></textarea>
  </mat-form-field>
  <mat-form-field class="text-field-output">
    <mat-label>Output for your text</mat-label>
    <textarea matInput [(ngModel)]="textOutput" name="output">{{textOutput}}</textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Summarize!
  </button>
</form>
