.example-spacer {
  flex: 1 1 auto;
}

form {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

.ubutton {
  margin-left: -72.2%;
}
.obuttons {
  margin-top: -2%;
  margin-left: 58%;
}
.actionbuttons button{
  margin-right: 1%;
}

.actionbuttons {
  padding-left: 1.7%;
}

.text textarea{
  margin-right: 3%;
}

.text {
  padding-right: 0%;
}

.text-field {
  margin-right: 1%;
}
