<!-- Top navigation -->
<mat-toolbar color="primary">
  <button mat-button class="example-icon"  routerLink="/home">
    <mat-icon>share</mat-icon> GYD
  </button>
<!--  <span><span class="redirect" routerLink="/home">GYD</span></span>-->
  <span class="example-spacer">
  </span>
  <!--  <span>Log out</span>-->
  <button mat-button color="white" (click)="authService.SignOut()">Log Out</button>
  <button mat-button class="example-icon"  routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<form class="example-form">
  <ngx-typed-js [strings]="['Summarize', 'learn faster', 'learn efficiently', 'Visualize text', 'Upload text']" [typeSpeed]="90" [backSpeed]="40" [loop]="true" [smartBackspace]="true" [shuffle]="true" [backDelay]="5000">
    <h1 class="autotype"> Use GYD to <span class="typing"></span></h1>
  </ngx-typed-js>
  <div class = "text">
    <mat-form-field class="text-field" style="width: 40%">
      <mat-label>Text for summarization</mat-label>
      <textarea  matInput [(ngModel)]="textInput" name="input" rows="18" cols = "15"></textarea>
    </mat-form-field>
    <mat-form-field class="text-field-output"  style="width: 40%">
      <mat-label>Output for your text</mat-label>
      <textarea matInput [(ngModel)]="textOutput" name="output" rows="18" cols = "15">{{textOutput}}</textarea>
    </mat-form-field>
  </div>
  <div class="actionbuttons">
    <div class="ubutton">
      <button mat-raised-button color="accent" (click)="onUpload()">
        Upload
      </button>
    </div>
    <div class="obuttons">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Summarize!
    </button>
    <button mat-raised-button color="primary" routerLink="/knowledge-graph">
      Knowledge Graph!
    </button>
    <button mat-raised-button color="warn" routerLink="/knowledge-graph">
      Both!
    </button>
    </div>
  </div>
  <div class="container" *ngIf="loading">
    <input class="form-control" type="file" accept="text/*" (change)="onChange($event)">
  </div>
<!--  <div class="text-center">-->
<!--    <input class="form-control" type="file"-->
<!--           (change)="onChange($event)">-->

<!--    <button (click)="onUpload()"-->
<!--            class="btn btn-success">-->
<!--      Upload-->
<!--    </button>-->
<!--  </div>-->
</form>

<h2>History</h2>
<div class="aaa">
  <div *ngFor="let item of userInputsOutputs | async">
    <mat-card class="example-card">
      <mat-card-content>
        <p><strong>Input:</strong> {{ item.input }}</p>
        <p><strong>Output:</strong> {{ item.output }}</p>
        <p class = "dateCard">  {{ item.dateTime.toDate() | date:'medium' }}</p>
        <div class="card-helper"  fxLayout="row" fxLayoutGap="16px">
          <button mat-raised-button color="primary" (click)="copyOutput(item.output)">
            Copy Output
          </button>
          <button mat-raised-button color="primary" (click)="summarizeAgain(item.input)">
            Summarize Again
          </button>
          <button mat-raised-button color="warn" (click)="deleteUserInputOutput(item.id)">
            Delete
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
