<!-- Top navigation -->
<div class="backgrounddd">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with profile icon">
      <mat-icon>share</mat-icon>
    </button>
    <span>GYD</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="authService.SignIn(userName.value, userPassword.value)">
        <h1>Sign Up</h1>
        <mat-form-field>
          <input matInput placeholder="Username" #userName required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" #userPassword required>
        </mat-form-field>
        <div class="actionbuttons">
          <div class="flex-parent jc-center">
            <button type="submit" mat-raised-button color="primary" (click)="authService.SignIn(userName.value, userPassword.value)" routerLink="/dashboard">
              Sign Up
            </button>
          </div>
          <div class="label">
            <label id="dialog-user-name">Or</label>
          </div>
          <div class="flex-parent jc-center">
            <button type="button" mat-raised-button color="warn" (click)="authService.GoogleAuth()" routerLink="/dashboard">
              <i class="fab fa-google-plus-g"></i>
              Sign Up With Google
            </button>
          </div>
          <div class="flex-parent jc-center">
            <button type="button" mat-stroked-button color="primary" routerLink="/sign-in">
              Already Have an Account? Log In
            </button>
          </div>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
