<!-- Top navigation -->
<div class="topmost">
  <mat-toolbar style="background-color: transparent">
    <span class="example-spacer">
  </span>
    <!--  <span>Log out</span>-->
    <!--button cButton color="light" variant="outline" (click)="authService.SignOut()">Log Out</button-->
    <button cButton color="light" class="example-icon" shape="rounded-circle" style="margin-left: 10px" routerLink="/profile">
      <mat-icon>person</mat-icon>
<!--      <svg cIcon name="cilUser" size="l" title="User"></svg>-->
    </button>

  </mat-toolbar>
</div>
<!--<body>-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
</head>


<div class="button-top">
  <div class = "form1">
    <button class="large-button" type="submit" cButton color="light"routerLink="/dashboard">
      <div>
        Guide me
        <mat-icon>trending_up</mat-icon>
      </div>
    </button>
  </div>
</div>

<div id="scroll-down-arrow">
<!--  <a href="#content">-->
   <a> <i class="fas fa-angle-down"></i></a>
<!--  </a>-->
</div>

<!--<div id="content">-->
<!--  &lt;!&ndash; your website content here &ndash;&gt;-->
<!--</div>-->

<!--<div class="mid-top">-->
<!--</div>-->

<div class="top">
  <div id="particles-js">
  </div>

  <script src="helper/particles/particles.js"></script>
</div>

<div class = "dashPreview">
  <img src="../../../assets/Dashboard.png">
</div>

<div class = "text">
  <mat-form-field class="text-field" style="width: 40%">
    <ngx-typed-js [strings]="['GYD(Graph Your Data) is a tool that can be used to summarize your text using our text box or uploading a file. It can save your input and outputs so that you can go back to previous versions or generate new ones to your liking.Furthermore, you can also create a knowledge\n'+
'    graph using your text or files.']" [typeSpeed]="35"  [loop]="true"  [backDelay]="3000" [fadeOut] = "true">
      <h4 class="autotype">Text: <span class="typing"></span></h4>
    </ngx-typed-js>
    <div style="height: 100%; overflow: hidden;">
      <textarea class="box" matInput name="input"></textarea>
    </div>
  </mat-form-field>
  <mat-form-field class="text-field-output"  style="width: 40%">
    <ngx-typed-js [strings]="['GYD is a tool that allows you to summarize text using a text box or by uploading a file. You can also generate knowledge graphs and it saves your input and outputs. ']" [typeSpeed]="72.5" [loop]="true" [backDelay]="3000" [fadeOut] = "true">
      <h4 class="autotype"> Summarized Text:  <span class="typing"></span></h4>
    </ngx-typed-js>
    <div style="height: 100%; overflow: hidden;">
      <textarea matInput class = "box" name="output" ></textarea>
    </div>
  </mat-form-field>
</div>


<div class="button-top">
  <div class = "form1">
    <button class="large-button" type="submit" cButton color="light" routerLink="/dashboard">
      <div>
        Guide me
        <mat-icon>trending_up</mat-icon>
      </div>
    </button>
  </div>
</div>

<div class="bottom">
  <div class="frontcover">
    <p class ="title">GYD </p>
    <p class ="subtitle"><em>Your guide to transforming</em></p>
    <p class ="subtitle"><em>data into knowledge</em></p>
  </div>

  <div class = "use">
    <h1>Our Services</h1>
  </div>


  <h1>About us</h1>
  <h2 style="width: 75%">
    We are a group of passionate students from Virginia, US and Egypt who worked together on a project to solve a real-world problem.
    Our team consisted of five members who brought a diverse range of skills and experiences to the table. We met through a Software Engineering Course that
    was meant to encourage global engineering. We brainstormed some problems we think people in both our communities would struggle with and came up
    with GYD or your own guide to graphing your data. We hope to continue expanding our services and working together to improve communities world wide.</h2>
  <h1>Creators</h1>
  <div class="flex-container">
    <div style='background-color: #30D829;'>1 <div class="sometext">
<!--      <h4>Youssef Ahmed</h4>-->
<!--      <p>Junior at Alamein International University</p>-->
<!--      <p>Major: Software Engineering</p>-->
    </div></div>
    <div style='background-color: #72A7E5;'>2 <div class="sometext">
<!--      <h4>Shalini Dubey</h4>-->
<!--      <p>Junir at Virginia Tech</p>-->
<!--      <p>Major: Computer Science</p>-->
    </div></div>
    <div style='background-color: #F0CD09;'>3 <div class="sometext">
<!--      <h4>Jinit Shah</h4>-->
<!--      <p>Senior at Virginia Tech</p>-->
<!--      <p>Major: CS and Applied Discrete Math</p>-->
    </div></div>
    <div style='background-color: #A552ED;'>2 <div class="sometext">
<!--      <h4>Moamen Moustafa</h4>-->
<!--      <p>Junior at Alamein International University</p>-->
<!--      <p>Major: Artificial Intelligence</p>-->
    </div></div>
    <div style='background-color: #EF4E92;'>3 <div class="sometext">
<!--      <h4>Ahmed Shokr</h4>-->
<!--      <p>Junior at Alamein International University</p>-->
<!--      <p>Major: Software Engineering</p>-->
    </div></div>
  </div>

  <div class="creators">
    <div class = "text">
      <h4>Youssef Ahmed</h4>
      <p>Junior at Alamein International University</p>
      <p>Major: Software Engineering</p>
    </div>
    <div class = "text">
      <h4>Shalini Dubey</h4>
      <p>Junir at Virginia Tech</p>
      <p>Major: Computer Science</p>
    </div>
    <div class = "text">
      <h4>Jinit Shah</h4>
      <p>Senior at Virginia Tech</p>
      <p>Major: CS and Applied Discrete Math</p>
    </div>
    <div class = "text">
      <h4>Moamen Moustafa</h4>
      <p>Junior at Alamein International University</p>
      <p>Major: Artificial Intelligence</p>
    </div>
    <div class = "text">
      <h4>Ahmed Shokr</h4>
      <p>Junior at Alamein International University</p>
      <p>Major: Software Engineering</p>
    </div>
  </div>
</div>


<!--    <div class="lottie-animation mt-10">-->
<!--      <ng-lottie-->
<!--        width="800px"-->
<!--        height="300px"-->
<!--        [options]="options"-->
<!--        (animationCreated)="onAnimate($event)">-->
<!--      </ng-lottie>-->
<!--    </div>-->

<!--</div>-->




<!--</body>-->
