.example-spacer {
  flex: 1 1 auto;
}

h1 {
  padding-top: 3%;
  font-size: 50px;
}
h2 {
  padding-top: 2%;
  font-size: 30px;
}
.form {
  padding-top: 3%;
  text-align: center;
}

.large-button {
  font-size: 24px;
  padding-bottom: 2%;
}

.creators {
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  flex: 1;
  text-align: center;
  margin: 0 10px;
  font-size: 20px;
}

h4 {
  font-size: 25px;
  color: rebeccapurple
}

:host {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.use {
  padding-top: 2%;
}
