<!-- Top navigation -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon"  routerLink="/home">
    <mat-icon>share</mat-icon>
  </button>
  <span><span class="redirect" routerLink="/home">GYD</span></span>
  <span class="example-spacer">
  </span>
  <!--  <span>Log out</span>-->
  <button mat-button color="white" (click)="authService.SignOut()">Log Out</button>
  <button mat-icon-button class="example-icon"  routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<h1> Welcome to GYD</h1>
  <h2> Our tool takes your input, ranging from written text to uploaded files, and generates text summarization or knowledge graphs </h2>
  <div class = "form">
    <button class="large-button" type="submit" mat-raised-button color="primary" routerLink="/dashboard">
      Use GYD
    </button>
  </div>
