<!-- Top navigation -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon"  routerLink="/home">
    <mat-icon>share</mat-icon>
  </button>
  <span><span class="redirect" routerLink="/home">GYD</span></span>
  <span class="example-spacer">
  </span>
  <!--  <span>Log out</span>-->
  <button mat-button color="white" (click)="authService.SignOut()">Log Out</button>
  <button mat-icon-button class="example-icon"  routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<!--<body>-->

<!-- scripts -->
<!--<script ></script>-->

<div class="button-top">
  <div class = "form1">
    <button class="large-button" type="submit" mat-raised-button color="primary" routerLink="/dashboard">
      <div>
        Guide me
        <mat-icon>trending_up</mat-icon>
      </div>
    </button>
  </div>
</div>

<!--<div class="mid-top">-->
<!--</div>-->

<div class="top">
  <div id="particles-js">
  </div>

  <script src="helper/particles/particles.js"></script>
</div>

<div class="bottom">
  <div class="frontcover">
    <h1>GYD</h1>
    <h2><em>Your guide to transforming data into knowledge</em></h2>
  </div>

  <div class = "use">
    <h1>Our Services</h1>
  </div>
  <hr style="width:40%">
  <h2 style="width: 75%">GYD(Graph Your Data) is a tool that can be used to summarize your text using our text box or uploading a file. Furthermore, you can also create a knowledge
    graph using your text or files.</h2>

  <h1>About us</h1>
  <hr style="width:40%">
  <h2 style="width: 75%">
    We are a group of passionate students from Virginia, US and Egypt who worked together on a project to solve a real-world problem.
    Our team consisted of five members who brought a diverse range of skills and experiences to the table. We met through a Software Engineering Course that
    was meant to encourage global engineering. We brainstormed some problems we think people in both our communities would struggle with and came up
    with GYD or your own guide to graphing your data. We hope to continue expanding our services and working together to improve communities world wide.</h2>
  <h1>Creators</h1>

  <hr style="width:40%">

  <img class = "image" src="../../../assets/IMG_7024.jpg" >
  <div class="creators">
    <div class = "text">
      <h4>Youssef Ahmed</h4>
      <p>Junior at Alamein International University</p>
      <p>Major: Software Engineering</p>
    </div>
    <div class = "text">
      <h4>Shalini Dubey</h4>
      <p>Junir at Virginia Tech</p>
      <p>Major: Computer Science</p>
    </div>
    <div class = "text">
      <h4>Jinit Shah</h4>
      <p>Senior at Virginia Tech</p>
      <p>Major: CS and Applied Discrete Math</p>
    </div>
    <div class = "text">
      <h4>Moamen Moustafa</h4>
      <p>Junior at Alamein International University</p>
      <p>Major: Artificial Intelligence</p>
    </div>
    <div class = "text">
      <h4>Ahmed Shokr</h4>
      <p>Junior at Alamein International University</p>
      <p>Major: Software Engineering</p>
    </div>
  </div>
</div>


<!--    <div class="lottie-animation mt-10">-->
<!--      <ng-lottie-->
<!--        width="800px"-->
<!--        height="300px"-->
<!--        [options]="options"-->
<!--        (animationCreated)="onAnimate($event)">-->
<!--      </ng-lottie>-->
<!--    </div>-->

<!--</div>-->




<!--</body>-->
