<nav class="main-menu">


  <ul>
    <li>
      <a routerLink="/home">
        <mat-icon [ngStyle]="{'color':'White'}">share</mat-icon>
        <span class="nav-text">GYD</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <li class="has-subnav">
      <a routerLink="/dashboard">
        <mat-icon [ngStyle]="{'color':'RebeccaPurple'}">home</mat-icon>
        <span class="nav-text">
                          Dashboard
                        </span>
      </a>

    </li>

    <li class="has-subnav">
      <a routerLink="/text-summarization">
        <mat-icon [ngStyle]="{'color':'RoyalBlue'}">notes</mat-icon>
        <span class="nav-text">
                          Text Summarization
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/knowledge-graph">
        <mat-icon [ngStyle]="{'color':'purple'}">graphic_eq</mat-icon>
        <span class="nav-text">
                         Knowledge Graph
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/qa">
        <mat-icon [ngStyle]="{'color':'CadetBlue'}">question_answer</mat-icon>
        <span class="nav-text">
                         Q/A
                        </span>
      </a>

    </li>
    <li>
      <a routerLink="/history">
        <!--        <i class="fa fa-film fa-2x"></i>-->
        <mat-icon  [ngStyle]="{'color':'ForestGreen'}">history</mat-icon>
        <span class="nav-text">
                        User History
                        </span>
      </a>
    </li>
    <li>
      <a routerLink="/faq">
        <!--        <i class="fa fa-film fa-2x"></i>-->
        <mat-icon  [ngStyle]="{'color':'burlywood'}">info</mat-icon>
        <span class="nav-text">
                        FAQs
                        </span>
      </a>
    </li>
    <li>
      <a routerLink="/profile">
        <!--        <i class="fa fa-book fa-2x"></i>-->

        <mat-icon [ngStyle]="{'color':'sandybrown'}" >person_pin</mat-icon>
        <span class="nav-text">
                        Profile
                        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a (click)="authService.SignOut()">
        <mat-icon [ngStyle]="{'color':'tomato'}">power_settings_new</mat-icon>
        <span class="nav-text">
                            Logout
                        </span>
      </a>
    </li>
  </ul>
</nav>





<div class = "whole-page">
  <div class="dashboard-container">
    <div class="dashboard-title">
      <h1 class="block-title">USE GYD TO</h1>
      <ngx-typed-js [strings]="['Summarize text', 'Graph Your Data', 'Ask Questions about your Text']" [typeSpeed]="90" [backSpeed]="40" [loop]="true" [smartBackspace]="true" [shuffle]="true" [backDelay]="5000">
        <h2><span class="typing"></span></h2>
      </ngx-typed-js>
    </div>

  <!--<div class = "carousel">-->
  <!--  <c-carousel [dark]="true" [wrap]="false">-->
  <!--    <c-carousel-indicators></c-carousel-indicators>-->
  <!--    <c-carousel-inner>-->
  <!--      <c-carousel-item *ngFor="let slide of slides; index as i;">-->
  <!--        <img-->
  <!--          [src]="slide.src"-->
  <!--          alt="{{slide.title}}"-->
  <!--          class="d-block w-100"-->
  <!--          loading="lazy"-->
  <!--        />-->
  <!--        <c-carousel-caption class="d-none d-md-block">-->
  <!--          <h3>{{slide.title}}</h3>-->
  <!--          <p>{{slide.subtitle}}</p>-->
  <!--        </c-carousel-caption>-->
  <!--      </c-carousel-item>-->
  <!--    </c-carousel-inner>-->
  <!--    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>-->
  <!--    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>-->
  <!--  </c-carousel>-->
  <!--</div>-->

    <div style="display: flex; justify-content: center; gap: 20px;">
  <!--  <c-row>-->
  <!--    <c-col >-->
      <c-card style="background-color: rebeccapurple; width: 35%;">
        <video cCardImg="top" src="./assets/textDemo.mp4" autoplay muted loop></video>
        <c-card-body>
          <h5 cCardTitle style="color: whitesmoke">Text Summarization</h5>
          <p cCardText style="color: whitesmoke">
            Upload, write, or paste any text and GYD will summarize it in moments.
          </p>
          <button cButton color="light" routerLink="/text-summarization">Summarize</button>
        </c-card-body>
      </c-card>
  <!--   </c-col>-->
  <!--  <c-col>-->
      <c-card style="background-color: royalblue; width: 35%;">
        <video cCardImg="top" src="./assets/kg.mp4" autoplay muted loop></video>
        <c-card-body>
          <h5 cCardTitle style="color: whitesmoke">Knowledge Graph</h5>
          <p cCardText style="color: whitesmoke">
            Upload, write, or paste any text and GYD will give you a knowledge graph.
          </p>
          <button cButton color="light" routerLink="/knowledge-graph">Graph</button>
        </c-card-body>
      </c-card>
  <!--    </c-col>-->
  <!--  </c-row>-->
    </div>
    </div>
</div>
