<!-- Top navigation -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" routerLink="/home">
    <mat-icon>share</mat-icon>
  </button>
  <span><span class="redirect" routerLink="/home">GYD</span></span>
  <span class="example-spacer">
  </span>
  <!--  <span>Log out</span>-->
  <button mat-button color="white" (click)="authService.SignOut()">Log Out</button>
  <button mat-icon-button class="example-icon" routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>


<mat-card>
  <mat-card-content>
    <form>
          <!-- Main content -->
            <h1> User Profile</h1>
            <!-- Show user data when logged in -->
            <div class="row" *ngIf="authService.userData as user">
                <h2>Hello, {{(user.displayName) ? user.displayName : 'User'}}</h2>
                <p>User ID: <b>{{user.uid}}</b></p>
                <p>Email: <b>{{user.email}}</b></p>
                <p>Email Verified: <b>{{user.emailVerified}}</b></p>
              </div>
    </form>
  </mat-card-content>
</mat-card>
