<!-- Top navigation -->
<div class="topmost">
  <mat-toolbar color="primary">
    <button mat-button class="example-icon"  routerLink="/home">
      <mat-icon>share</mat-icon> GYD
    </button>
    <!--  <span><span class="redirect" routerLink="/home">GYD</span></span>-->
    <span class="example-spacer">
  </span>
    <!--  <span>Log out</span>-->
    <button mat-button color="white" (click)="authService.SignOut()">Log Out</button>
    <button mat-button class="example-icon"  routerLink="/profile">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</div>

<mat-card>
  <mat-card-content>
      <h1>Thank You for Registering</h1>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
    <div class="actionbuttons">
      <div class="flex-parent jc-center">
        <button type="button" mat-raised-button color="warn" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
        </div>
      <div class="flex-parent jc-center">
        <button type="button" mat-stroked-button color="primary" routerLink="/sign-in">
          Go back to? Sign in
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

