.example-spacer {
  flex: 1 1 auto;
}

h1 { font-size: 25px;}
mat-card {
  max-width: 30%;
  /*min-height: 50%;*/
  margin: 2em auto;
  text-align: center;
  font-size: 18px;
  box-shadow: 5px 5px 10px rebeccapurple,
  5px 5px 10px 5px rebeccapurple,
  5px 5px 10px 5px rebeccapurple;
}

.actionbuttons button{
  display: block;
  text-align: center;
  margin-bottom: 2.5%
}

.actionbuttons {
  padding-bottom: 3%;
  /*justify-content: center;*/
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}
