
<nav class="main-menu">


  <ul>
    <li>
      <a routerLink="/home">
        <mat-icon [ngStyle]="{'color':'White'}">share</mat-icon>
        <span class="nav-text">GYD</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <li class="has-subnav">
      <a routerLink="/dashboard">
        <mat-icon [ngStyle]="{'color':'RebeccaPurple'}">home</mat-icon>
        <span class="nav-text">
                          Dashboard
                        </span>
      </a>

    </li>

    <li class="has-subnav">
      <a routerLink="/text-summarization">
        <mat-icon [ngStyle]="{'color':'RoyalBlue'}">notes</mat-icon>
        <span class="nav-text">
                          Text Summarization
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/knowledge-graph">
        <mat-icon [ngStyle]="{'color':'purple'}">graphic_eq</mat-icon>
        <span class="nav-text">
                         Knowledge Graph
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/qa">
        <mat-icon [ngStyle]="{'color':'CadetBlue'}">question_answer</mat-icon>
        <span class="nav-text">
                         Q/A
                        </span>
      </a>

    </li>
    <li>
      <a routerLink="/history">
        <!--        <i class="fa fa-film fa-2x"></i>-->
        <mat-icon  [ngStyle]="{'color':'ForestGreen'}">history</mat-icon>
        <span class="nav-text">
                        User History
                        </span>
      </a>
    </li>
    <li>
      <a routerLink="/faq">
        <!--        <i class="fa fa-film fa-2x"></i>-->
        <mat-icon  [ngStyle]="{'color':'burlywood'}">info</mat-icon>
        <span class="nav-text">
                        FAQs
                        </span>
      </a>
    </li>
    <li>
      <a routerLink="/profile">
        <!--        <i class="fa fa-book fa-2x"></i>-->

        <mat-icon [ngStyle]="{'color':'sandybrown'}" >person_pin</mat-icon>
        <span class="nav-text">
                        Profile
                        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a (click)="authService.SignOut()">
        <mat-icon [ngStyle]="{'color':'tomato'}">power_settings_new</mat-icon>
        <span class="nav-text">
                            Logout
                        </span>
      </a>
    </li>
  </ul>
</nav>

<h2>Text Summarization History</h2>
<div class="aaa">
  <div *ngFor="let item of userTextSumInputsOutputs | async">
    <mat-card class="example-card">
      <mat-card-content>
        <p><strong>Input:</strong> {{ item.input }}</p>
        <p><strong>Output:</strong> {{ item.output }}</p>
        <p class = "dateCard">  {{ item.dateTime.toDate() | date:'medium' }}</p>
        <div class="card-helper"  fxLayout="row" fxLayoutGap="16px">
          <button mat-raised-button color="primary" (click)="copyOutput(item.output)">
            Copy Output
          </button>
          <button mat-raised-button color="warn" (click)="deleteUserInputOutput(item.id)">
            Delete
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<h2>Knowledge Graph History</h2>
