 /*You can add global styles to this file, and also import other style files*/

html, body {
  height: 100%;
  /*background-size: cover;*/
  /*background: linear-gradient(to bottom right, black,rebeccapurple, black, rebeccapurple) no-repeat fixed;*/
  color: #000000; /* set text color to white for contrast */
  /*background: radial-gradient(circle, #48088b, black);*/
  font-weight: lighter;
  background: #252424;
}
body {
  margin: 0;
  font-family: Copperplate, sans-serif;
  background: #252424;
}
h1 {
  text-align: center;
  color: black;
  font-family: Copperplate, sans-serif;
}
h2 {
  text-align: center;
  font-family: Copperplate, sans-serif;
  color: white;
}

